@import '~@angular/material/theming';

@include mat-core();

$light-theme-primary: mat-palette($mat-purple);
$light-theme-accent: mat-palette($mat-indigo);
$light-theme-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($light-theme-primary, $light-theme-accent, $light-theme-warn);

